{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock head %}


{% block content %}
<section>
  <div class='about_container'>
    <img 
      class='confused' 
      src="https://i.ibb.co/BCmRXbR/Untitled-Artwork-3.png" 
      alt=""
    >
  </div>

  <div class='look_down'>
    <h1 class='text'>
        Look Below for Guide! 
    </h1>
    <p class='arrow'>
      🡻
    </p>
  </div>
  <div class='look_down1'>
    <h1 class='text'>
        Look Below for Guide! 
    </h1>
    <p class='arrow'>
      🡻
    </p>
  </div>
  <div class='guide'>
    <h1>Purpose:</h1>
    <p>
      I originally made this application to keep track of any and all progress on my drawings/paintings. Keeping track of individual pictures on separate platforms made it hard for me to learn much from a drawings previous iterations, and having them on hand helps me see the growth and where to eventually take any piece that I am working on. I figured that other artists who can benifit from this should have the ability to use it, so anyone who signs up will have this useful tool on hand too. 
    </p>
    <h2>
      Where do I begin?
    </h2>
    <p>
      As you may have seen, the communiy page may seem bleak with limited options. That is because I wanted to give space for artists to come in and fill it for the community to see!
      Going over to the Create post will show a form asking you to put in details and images (perferably from the web) about your work to share with the community. Once posted is where the fun begins.
    </p>
    <h2>
      Icons
    </h2>
    <img 
      class='icon' 
      src="{% static 'images/export 1.png' %}" 
      alt="icon"
    >
    <img 
      class='icon' 
      src="{% static 'images/export(2).png' %}" 
      alt="icon1"
    >
    <p>
      You may have noticed the tags above in the community page.. but what do they mean?
      The blue icon means that a post is still in the works, and has no new additions from the artist.
      The Green icon is to let any users browsing the community page that a new addition has been made to the post! you should probably check those out.
      You can toggle the change of these icons by going into "Edit" under your post and clicking the "Updates" checkbox.
    </p>
    <h2>
      Editing your post
    </h2>
    <p>
      A neat feature of this app, is that it allows you to make your latest addition to your work the front piece if you so choose, You can also add it to your "Work Log" aling with the date and time of day you worked on it. The more you update the site, the more you have to refreence in your drawing!
    </p>
    <h3>Now that you know all that threre is to know... Go on and post!</h3>
  </div>
</section>
{% endblock %}