{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>👁️culus</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  {% block head %}
  {% endblock %}
</head>
<body class='main_body'>
  <header class='main_header'>
      {% if user.is_authenticated %}
        <div class='main_div'>
          <a 
            class='main_a' 
            href="{% url 'community_index' %}"
          >
            Community Posts
          </a>
          <a 
            class='main_a' 
            href="{% url 'posts_create' %}"
          >
            Create Post
          </a>
          <a 
            class='main_a' 
            href="{% url 'logout' %}"
          >
            Log out
          </a>
      {% else %}
          <a 
            class='main_a' 
            href="{% url 'home' %}"
          >
            Login
          </a>
          <a 
            class='main_a' 
            href="{% url 'signup' %}"
          >
            Sign Up
          </a>
      {% endif %}
          <a 
            class='main_a' 
            href="{% url 'about' %}"
          >
            About
          </a> 
        </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>