.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 36px;
}

.form {
  grid-column: 2;
  background-image: url("https://i.ibb.co/Vxv7V0v/SLAB.png");
  text-shadow: -2px -2px 2px #fff, 2px 2px 2px #000;
	color: #9c8468;
	opacity: 1;
	font: 40px 'Museo700';
}

h1 {
  padding-top: 72px;
  margin: 0;
}

.helptext {
  font-size: 15px;
  color: black;
  opacity: 1;
}
