form.login {
}

.home_div {
  align-content: center;
}

.le_frame {
  position: absolute;
  left: auto;
}

.le_pantheon {
  width: 480px;
  height: 321px;
  position: absolute;
  top: 166px;
  left: 700px;
}

