{% extends 'base.html' %}
{% load static %}



{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/post-detail.css' %}"
/>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/post-detail.css' %}"
/>
  <script defer src="{% static 'js/post-detail.js' %}"></script>
{% endblock head %}

{% block content %}
    <section>
      <h1>{{post.name}} by {{post.user}}</h1>
      <div>
        {% if post.photo.url %}
          <img 
            src="{{post.photo.url}}" 
            alt="A photo of {{post.name}}"
            class="usr-img"
          >
        {% else %}
          <img class= 'current' src="{{post.current_state}}" alt="pic">
        {% endif %}
      </div>
      <div>
        <h4>The goal of this peice is...</h4>
        <p>{{post.goal}}</p>
      </div>
      <div>
        <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
        <a href="{% url 'posts_delete' post.id %}" class="btn danger">Delete</a>
        <h3>Update {{ post.name }}'s photo</h3>
        <p id="file-name"></p>
        <form 
          action="{% url 'add_photo' post.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <label class="btn secondary">
            Choose photo
            <input type="file" name="photo-file" id="file-input">
          </label>
          <button type="submit" class="btn submit">Upload Photo</button>
        </form>
      </div>
    </section>
    
  <div class="work-container">
    <section class="works">
      <div class="subsection-title">
        <h2>Feedings</h2>
      </div>
      <h3>Update your last worked</h3>
      <form
      action="{% url 'add_worked_on' post.id %}"
      method="post" 
      class="subsection-content"
      >
      {% csrf_token %}
      {{ work_form.as_p }}
        <button type="submit" class="btn submit">Update last Worked on Date</button>
      </form>
      <h3>Past Feedings</h3>
      {% for work in post.work_set.all %}
      {% if post.work_set.all.count %}
        <table>
          <thead>
            <tr><th>Date</th><th>time of Day</th></tr>
          </thead>
          <tbody>
            
              <tr>
                <td>{{work.date}}</td>
                <td>{{work.get_tod_display}}</td>
              </tr>
            
          </tbody>
        </table>
      {% else %}
        <p class="subsection-content">{{post.name}} has yet to be worked on! 😟</p>
      {% endif %}
      {% endfor %}
    </section>
  </div>
{% endblock content %}