{% extends 'base.html' %}
{% load static %}



{% block head %}
  <link 
    rel="stylesheet" 
    type="text/css" 
    href="{% static 'css/post-detail.css' %}"
  />
{% endblock head %}

{% block content %}
    <section>
      <h1>{{post.name}}</h1>
      <div>
        <img class= 'current' src="{{post.current_state}}" alt="pic">
      </div>
      <div>
        <h4>The goal of this peice is...</h4>
        <p>{{post.goal}}</p>
      </div>
      <div>
        <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" class="btn danger">Delete</a>
      </div>
    </section>
{% endblock content %}