{% extends 'base.html' %}
{% load static %}



{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/post-detail.css' %}"
/>
  <script defer src="{% static 'js/post-detail.js' %}"></script>
{% endblock head %}

{% block content %}
  <section class='post_all'>
      <div class='post_details'>
        {% if not post.photo.url %}
          <h1>{{post.name}} by {{post.user}}</h1>
          <img class= 'current' src="{{post.current_state}}" alt="pic">
        {% else %}
          
          <img 
            src="{{post.photo.url}}" 
            alt="A photo of {{post.name}}"
            class="usr-img"
          >
        {% endif %}

        <h3>The goal of this peice is...</h3>
        <p>{{post.goal}}</p>
      
        <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
        <a href="{% url 'posts_delete' post.id %}" class="btn danger">Delete</a>
      </div>

      <div class='post_change'>
        <h3>Update {{ post.name }}'s State</h3>
        <p id="file-name"></p>
        <form 
          action="{% url 'add_photo' post.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <label class="btn secondary">
            Choose photo
            <input type="file" name="photo-file" id="file-input">
          </label>
          <button type="submit" class="btn submit">Upload Photo</button>
        </form>
      </div>

    <div class='post_progress'>
      <h2>Work Log</h2>
      <h3>Add a Progress Picture</h3>
      <form
      action="{% url 'add_worked_on' post.id %}"
      method="post" 
      class="subsection-content"
      >
      {% csrf_token %}
      {{ work_form.as_p }}
        <button type="submit" class="btn submit">Update last Worked on Date</button>
      </form>
    </div>
    <div class='post_past'>
      <h3>Past Iterations</h3>
      {% for work in post.work_set.all %}
      {% if post.work_set.all.count %}
        <table class='table'>
          <thead>
            <tr><th>Date</th><th>Time of Day Worked on</th><th>↓</th></tr>
          </thead>
          <tbody>
              <tr>
                <td>{{work.date}}</td>
                <td>{{work.get_tod_display}}</td>
                <td>
                  <img class='update' src="{{work.progress_pic}}" alt="pic">
                </td>
              </tr>
          </tbody>
        </table>
      {% else %}
        <p class="subsection-content">{{post.name}} has yet to be worked on! 😟</p>
      {% endif %}
      {% endfor %}
    </div>
  </section>
{% endblock content %}